html
{
    height: 100%;
}
 
body
{
	margin: 0;
	padding: 0
    height: 100%;
    background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
.navbar{

	background-color: #4a7cb6;
	border-color: #6f8ecf; 
	
}
.header-brand{
	color: white;
}
h1{
	color: #337ab6;
}
.center {
	margin-top: 7%;
	margin-bottom: auto;
  width: auto;
  height: auto;
  padding-left: 15%;
	padding-right: 15%;
}
.navigue-arrow{

	color: white;
}